.resultadoiva {
    font-size: 3em;
    text-align: center;
    color: #050fa1;
}
.resultadoit {
    font-size: 3em;
    text-align: center;
    color: #12a105;
}
.resultadoutilidad {
    font-size: 3em;
    text-align: center;
    color: #a10599;
}