<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Impuestos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Impuestos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Calculo Impuesto</ion-card-subtitle>
      <ion-card-title>Calculo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    
      
      <ion-item>
        <ion-label>Monto</ion-label>
        <ion-input [(ngModel)]="dato" type="number" value="0"></ion-input>
      </ion-item>
      
      

      <ion-button color="success" (click)="calcularImpuesto()" expand="block" fill="outline">Calcular</ion-button>

      <div *ngIf="iva" class="resultadoiva">
       IVA: {{ iva }}
      </div>
      
      <div *ngIf="it>0" class="resultadoit">
        IT: {{ it }}
      </div>
      <div *ngIf="utilidad>0" class="resultadoutilidad">
        UTILIDAD: {{ utilidad }}
      </div>
     
    </ion-card-content>
  </ion-card>
  
  

</ion-content>